[submodule "rickshaw"]
	path = rickshaw
	url = https://github.com/shutterstock/rickshaw
[submodule "flot"]
	path = flot
	url = https://github.com/flot/flot
[submodule "timezone-js"]
	path = timezone-js
	url = https://github.com/mde/timezone-js
