[submodule "rickshaw"]
	path = rickshaw
	url = git://github.com/shutterstock/rickshaw.git
[submodule "flot"]
	path = flot
	url = git://github.com/flot/flot.git
[submodule "async"]
	path = async
	url = https://github.com/caolan/async
