[submodule "rickshaw"]
	path = rickshaw
	url = git://github.com/shutterstock/rickshaw.git
[submodule "flot"]
	path = flot
	url = git://github.com/flot/flot.git
[submodule "timezone-js"]
	path = timezone-js
	url = git://github.com/mde/timezone-js.git
